<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create note</title>
</head>
<body>
<h1>Create note</h1>
<p>
    <a href="/notes">Note list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-note-post}" th:object="${note}" method="post">
    <table>
        <tr>
            <td>Date:</td>
            <td><input type="date" id="dateNote" name="dateNote" th:value="${dateNote.value}"/></td>
        </tr>
        <tr>
            <td>Goal:</td>
            <td><input type="text" id="goalNote" name="goalNote" th:value="${goalNote.value}"/></td>
        </tr>
        <tr>
            <td>Attendees:</td>
            <td><input type="text" id="attendeeNote" name="attendeeNote" th:value="${attendeeNote.value}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" id="contentNote" name="contentNote" th:value="${contentNote.value}"/></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create note"></td>
        </tr>
    </table>
    <p>Tag</p>
    <p th:each="tag: ${tags}">
        <input type="checkbox" th:field="*{tagSet}" th:value="${tag.id}" th:text="${tag.name}"/>
    </p>
</form>
</body>
</html>